body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5a5553;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    position: relative;
}

.main-box {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #808080;
    border: 2px solid #5bc0de;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.ribbon {
    width: 100%;
    height: 0;
    border-style: solid;
    border-width: 0 40px 40px 0;
    border-color: transparent #5bc0de transparent transparent;
    transition: border-color 0.3s;
}

.main-box:hover {
    background-color: #5cb85c;
}

.main-box:hover .ribbon {
    border-color: transparent #5bc0de transparent transparent;
}

.friend-box-container {
    display: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.friend-box {
    width: 23.44px; /* Increased the width by 25% */
    height: 23.44px; /* Increased the height by 25% */
    background-color: #808080;
    border: 2px solid #5bc0de;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.friend-box:hover {
    background-color: #5cb85c;
}

.friend-name {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.ribbon-small {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 0;
    border-color: transparent #5bc0de transparent transparent;
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    background-color: #d9534f;
    padding: 8px 16px;
    border: 2px solid #5bc0de;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.exit-button:hover {
    background-color: #5cb85c;
    color: #fff;
}

#letter-container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    padding: 20px;
    text-align: center;
    overflow: auto;
}

.letter img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.faded-words {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
}

.faded-word {
    position: absolute;
    color: rgba(255, 255, 255, 0.1);
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}
